button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
	border: 1px solid;
	border-color: $color__border-button;
	background: $color__background-button;
    outline:none;
    font-size:inherit;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}