.site-header {
    z-index:9999;
}

.site-branding {
    width:auto;
    display:block;
    float:left;
    @media screen and (max-width:600px) {
        max-width:75%;
    }
}

#site-navigation {
    width:auto;
}